html, body {
  min-height: 100%;
  background-color: #cbe6c2;
}

#main {
  margin: 0 0 0 12px;
}

a { color: #792a26; }

nav.nav {
  background-color: transparent;
}

.card-header-title small {
  margin-left: 10px;
  font-weight: normal;
  color: #bbb;
}
.card-header-title div { display: inline }
.card-header-title small .react-tangle-input {
  color: #676;
  border-bottom: 1px dashed #676 !important;
  width: 15px;
}

.card.empty { border: 24px #bbb dotted; height: 285px }

.card.site { margin: 0 5px; }
.card.site .card-header-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card.site [contenteditable] { min-width: 90px }
.card.site [contenteditable]:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: inherit;
}

.card.site .fa.placeholder { display: none }
.card.site:active .recharts-responsive-container { display: none; }
.card.site:active .fa.placeholder {
  display: block;
  margin: 50px;
  font-size: 100px;
  color: #bbb;
}

.card.site .card-footer-item.danger { background-color: #ff3860; color: #fff }
.card.site .card-footer-item.save { background-color: #3273dc; color: #fff }

.card.newsite:hover { color: #bbb; }
.card.newsite .card-content {
  text-align: center;
  cursor: pointer;
}
.card.newsite i.fa {
  font-size: 7em;
  display: inline-block;
  margin: 30px 0;
}
.card.newsite button { margin-top: 5px; }

.card.detail-trackingcode code { white-space: pre-wrap; }

.card.detail-chart,
.card.detail-table,
.card.detail-today,
.card.detail-trackingcode,
.card.detail-about {
  margin: 12px;
}
.card.detail-chart .recharts-wrapper { margin-left: 21px; }
.card.detail-table td:first-child {
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card.detail-table tr:hover td:first-child {
  white-space: pre-line;
  text-overflow: initial;
  word-break: break-all;
}
.card.detail-table td:nth-child(2) { text-align: right; }

.custom-tooltip {
  padding: 12px;
  background: #fff;
  font-size: 1.3em;
}
.custom-tooltip .recharts-tooltip-label { text-align: center; margin-bottom: 4px; }
.custom-tooltip .recharts-tooltip-item-list { text-align: right; }
