html, body {
  min-height: 100%;
  background-color: antiquewhite;
}

#main {
  margin: 0 0 0 12px;
}

nav.nav {
  background-color: transparent;
}

.card {
  margin: 0 5px;
  height: 279.608px;
}
.card .title {
  height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card:active { height: 279.608px; }
.card:active .recharts-responsive-container {
  display: none;
}

.card.empty { border: 24px #bbb dotted; }

.newsite:hover { color: #999999; }
.newsite .card-content {
  text-align: center;
  cursor: pointer;
}
.newsite i.fa {
  font-size: 7em;
  display: inline-block;
  margin: 60px 0;
}
.newsite button { margin-top: 5px; }
